.icon-row {
  display: flex;
  flex-wrap: wrap;
}

.find-screen .icon-row {
  margin-top: 20px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}
