.status-bar {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 13px;
  font-weight: 600;
  width: 90%;
  padding: 7px 20px 5px 20px;
  border-radius: 25px 25px 0px 0px;
}

.status-bar__column {
  width: 50%;
}

.status-bar__column:first-child {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column:last-child span {
  margin-left: 3px;
}
